
<h1>ROOM TITLE: <%- room.name %></h1>

<p> Creator: <%- room.creator%> </p>
<p>ROOM ID: <%- room.id %></p>

<h2>VIDEO CONTAINER</h2>

<!--<p>creators socketid <%- room.socketId%></p>-->
<h2>CHAT CONTAINER</h2>

